@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background-color: #000;
  --primary-text-color: #fff;
  --active-color: #d5b736;
  --navbar-link-color: rgb(19, 19, 102);
}

body {
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}













