.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    background-color: #000;
    padding: 2rem;
  }
  
  .zizy {
    color: #d5b736;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .navbar-items {
    display: flex; 
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .link-item {
    font-size: 1.2rem;
    color: rgb(19, 19, 102);
    cursor: pointer;
  }

  @media screen and (min-width: 600px) {
    .logo {
      padding: 1rem 4rem;
    }
  }

  @media screen and (min-width: 992px) {
    .navbar-items {
      gap: 5rem;
    }
  }
  